body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

#loginBox {
    width: 300px;
    margin: 120px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#loginBox input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

header {
    background: #2d6a4f;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.hero {
    background: #52b788;
    color: white;
    padding: 50px;
    text-align: center;
}

.products {
    padding: 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #1b4332;
    color: white;
    text-align: center;
    padding: 15px;
}
